.astyle {text-decoration: none;}

.times7black {font-family: "Times New Roman";font-size: 7px;color: #FFFFFF;}
.times7blackbold {font-family: "Times New Roman";font-weight: bold;font-size: 7px;color: #FFFFFF;}
.times8black {font-family: "Times New Roman";font-size: 8px;color: #000000;}
.times8black2 {font-family: "Times New Roman";font-size: 8px;color: #FFFFFF;}
.times8blackbold {font-family: "Times New Roman";font-weight: bold;font-size: 8px;color: #FFFFFF;}
.times9black {font-family: "Times New Roman";font-size: 9px;color: #FFFFFF;}
.times9black2 {font-family: "Times New Roman";font-size: 9px;color: #000000;}
.times9blackbold {font-family: "Times New Roman";font-weight: bold;font-size: 9px;color: #FFFFFF;}
.times10black {font-family: "Times New Roman";font-size: 10px;color: #FFFFFF;}
.times10black2 {font-family: "Times New Roman";font-size: 10px;color: #000000;}
.times10blackbold {font-family: "Times New Roman";font-weight: bold;font-size: 10px;color: #FFFFFF;}
.times11black {font-family: "Times New Roman";font-size: 11px;color: #FFFFFF;}
.times11blackbold {font-family: "Times New Roman";font-weight: bold;font-size: 11px;color: #FFFFFF;}
.times12black {font-family: "Times New Roman";font-size: 12px;color: #FFFFFF;}
.times12blackbold {font-family: "Times New Roman";font-weight: bold;font-size: 12px;color: #FFFFFF;}
.times13black {font-family: "Times New Roman";font-size: 13px;color: #FFFFFF;}
.times13blackbold {font-family: "Times New Roman";font-weight: bold;font-size: 13px;color: #FFFFFF;}
.times14black {font-family: "Times New Roman";font-size: 14px;color: #FFFFFF;}
.times14blackbold {font-family: "Times New Roman";font-weight: bold;font-size: 14px;color: #FFFFFF;}
.times15black {font-family: "Times New Roman";font-size: 15px;color: #FFFFFF;}
.times15blackbold {font-family: "Times New Roman";font-weight: bold;font-size: 15px;color: #FFFFFF;}
.times16black {font-family: "Times New Roman";font-size: 16px;color: #FFFFFF;}
.times16blackbold {font-family: "Times New Roman";font-weight: bold;font-size: 16px;color: #FFFFFF;}

.table1Bottom {border-bottom-width: 1px;border-bottom-color: #FFFFFF;border-bottom-style: solid;}
