.astyle {text-decoration: none;}
.astylearial12redbold {text-decoration: none;font-family: Arial;font-size: 12px;font-weight: bold;color: #FF0000;}
.astylearial12blackbold {text-decoration: none;font-family: Arial;font-size: 12px;font-weight: bold;color: #000000;}
.astylearial14blackbold {text-decoration: none;font-family: Arial;font-size: 14px;font-weight: bold;color: #000000;}
.astylearial08whitebold {text-decoration: none;font-family: Arial;font-size: 8px;font-weight: bold;color: #FFFFFF;}


.textfield00 {font-family: Arial;font-size: 12px;font-weight: bold;color: #33B5E5;background-color: #FFFFFF;border: 1px solid #FFFFFF;height: 20px;width: 180px;}
.textfield01 {font-family: Arial;font-size: 16px;font-weight: bold;color: #FFFFFF;background-color: #33B5E5;border: 1px solid #000000;height: 25px;width: 300px;}
.textfield02 {font-family: Arial;font-size: 30px;font-weight: bold;color: #000000;background-color: #D2E533;border: 1px solid #000000;height: 40px;width: 100px;}
.textfield03 {font-family: Arial;font-size: 30px;font-weight: bold;color: #000000;background-color: #D2E533;border: 1px solid #000000;height: 40px;width: 200px;}
.textfield04 {font-family: Arial;font-size: 16px;font-weight: bold;color: #FFFFFF;background-color: #33B5E5;border: 1px solid #000000;height: 25px;width: 80px;}
.textfield05 {font-family: Arial;font-size: 14px;font-weight: bold;color: #FFFFFF;background-color: #33B5E5;border: 1px solid #000000;height: 18px;}
.textfield06 {font-family: Arial;font-size: 14px;font-weight: bold;color: #FFFFFF;background-color: #33B5E5;border: 1px solid #000000;}
.textfield07 {font-family: Arial;font-size: 14px;font-weight: bold;color: #FFFFFF;background-color: #33B5E5;border: 1px solid #000000;height: 30px;}
.textfield08 {font-family: Arial;font-size: 12px;font-weight: bold;color: #33B5E5;background-color: #FFFFFF;border: 1px solid #FFFFFF;height: 20px;}
.textfield09 {font-family: Arial;font-size: 12px;font-weight: bold;color: #FFFFFF;background-color: #FF0000;border: 1px solid #FF0000;height: 18px;width: 180px;}
.textfield10 {font-family: Arial;font-size: 12px;font-weight: bold;color: #33B5E5;background-color: #FFFFFF;border: 1px solid #FFFFFF;width: 180px;}


.butwhite01 {font-family: Arial;font-size: 14px;font-weight: bold;color: #000000;background-color: #FFFFFF;border: 1px solid #000000;}

.butblue01 {font-family: Arial;font-size: 14px;font-weight: bold;color: #FFFFFF;background-color: #33B5E5;border: 1px solid #33B5E5;}
.butblue02 {font-family: Arial;font-size: 12px;font-weight: bold;color: #FFFFFF;background-color: #33B5E5;border: 1px solid #33B5E5;}
.butblue03 {font-family: Arial;font-size: 14px;font-weight: bold;color: #FFFFFF;background-color: #33B5E5;border: 1px solid #33B5E5;height: 30px;}
.butblue04 {font-family: Arial;font-size: 11px;font-weight: bold;color: #FFFFFF;background-color: #33B5E5;border: 1px solid #33B5E5;height: 20px;}

.butred01 {font-family: Arial;font-size: 14px;font-weight: bold;color: #FFFFFF;background-color: #FF0000;border: 1px solid #FF0000;}
.butred02 {font-family: Arial;font-size: 11px;font-weight: bold;color: #FFFFFF;background-color: #FF0000;border: 1px solid #00DA1D;height: 20px;}

.butgrey01 {font-family: Arial;font-size: 14px;font-weight: bold;color: #FFFFFF;background-color: #C8C8C8;border: 1px solid #C8C8C8;}
.butgrey02 {font-family: Arial;font-size: 14px;font-weight: bold;color: #FFFFFF;background-color: #C8C8C8;border: 1px solid #C8C8C8;height: 30px;}
.butgrey03 {font-family: Arial;font-size: 11px;font-weight: bold;color: #FFFFFF;background-color: #C8C8C8;border: 1px solid #C8C8C8;height: 20px;}

.butgreen01 {font-family: Arial;font-size: 14px;font-weight: bold;color: #FFFFFF;background-color: #00DA1D;border: 1px solid #00DA1D;}
.butgreen02 {font-family: Arial;font-size: 14px;font-weight: bold;color: #FFFFFF;background-color: #00DA1D;border: 1px solid #00DA1D;height: 30px;}
.butgreen03 {font-family: Arial;font-size: 11px;font-weight: bold;color: #FFFFFF;background-color: #00DA1D;border: 1px solid #00DA1D;height: 20px;}


.table1Top {border-top-width: 1px;border-top-color: #000000;border-top-style: solid;}
.table1Bottom {border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;}
.table1Left {border-left-width: 1px;border-left-color: #000000;border-left-style: solid;}
.table1Right {border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table1Top1Bottom {border-top-width: 1px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;}
.table1Top1BottomWhite {border-top-width: 1px;border-top-color: #FFFFFF;border-top-style: solid;border-bottom-width: 1px;border-bottom-color: #FFFFFF;border-bottom-style: solid;}
.table1BottomWhite {border-bottom-width: 1px;border-bottom-color: #FFFFFF;border-bottom-style: solid;}
.table1Bottom1Left {border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;}
.table1Bottom1Right {border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table1Top1Bottom1Left {border-top-width: 1px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;}
.table1Top1Left {border-top-width: 1px;border-top-color: #000000;border-top-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;}
.table1Top1Right {border-top-width: 1px;border-top-color: #000000;border-top-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table1Top1Left1Right {border-top-width: 1px;border-top-color: #000000;border-top-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;}
.table1Top1Bottom1Right {border-top-width: 1px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table1Bottom1Left {border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;}
.table1Bottom1Right {border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table1Bottom1Left1Right {border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table1Top1Bottom1Left1Right {border-top-width: 1px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table2Top {border-top-width: 2px;border-top-color: #000000;border-top-style: solid;}
.table2Bottom {border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;}
.table2Top2Bottom {border-top-width: 2px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;}
.table1Top2Bottom {border-top-width: 1px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;}
.table2Top2Bottom2Left2Right {border-top-width: 2px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 2px;border-left-color: #000000;border-left-style: solid;border-right-width: 2px;border-right-color: #000000;border-right-style: solid;}
.table1Bottom2Left1Right {border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 2px;border-left-color: #000000;border-left-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table1Bottom1Left2Right {border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;border-right-width: 2px;border-right-color: #000000;border-right-style: solid;}
.table2Bottom2Left1Right {border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 2px;border-left-color: #000000;border-left-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table2Bottom1Left2Right {border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;border-right-width: 2px;border-right-color: #000000;border-right-style: solid;}
.table2Bottom1Left {border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;}
.table1Bottom1Left {border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;}
.table1Bottom1Left1Right {border-bottom-width: 1px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table1Top2Bottom2Left1Right {border-top-width: 1px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 2px;border-left-color: #000000;border-left-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table1Top2Bottom1Left2Right {border-top-width: 1px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;border-right-width: 2px;border-right-color: #000000;border-right-style: solid;}
.table2Top2Bottom1Left2Right {border-top-width: 2px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;border-right-width: 2px;border-right-color: #000000;border-right-style: solid;}
.table2Top2Bottom2Left1Right {border-top-width: 2px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 2px;border-left-color: #000000;border-left-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table2Top2Bottom1Left1Right {border-top-width: 2px;border-top-color: #000000;border-top-style: solid;border-bottom-width: 2px;border-bottom-color: #000000;border-bottom-style: solid;border-left-width: 1px;border-left-color: #000000;border-left-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table2Left1Right {border-left-width: 2px;border-left-color: #000000;border-left-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table1Left1Right {border-left-width: 1px;border-left-color: #000000;border-left-style: solid;border-right-width: 1px;border-right-color: #000000;border-right-style: solid;}
.table1Left2Right {border-left-width: 1px;border-left-color: #000000;border-left-style: solid;border-right-width: 2px;border-right-color: #000000;border-right-style: solid;}


.Calibri08black {font-family: Calibri;font-size: 8px;color: #000000;}
.Calibri08blackbold {font-family: Calibri;font-size: 8px;font-weight: bold;color: #000000;}
.Calibri09black {font-family: Calibri;font-size: 9px;color: #000000;}
.Calibri09blackbold {font-family: Calibri;font-size: 9px;font-weight: bold;color: #000000;}
.Calibri10black {font-family: Calibri;font-size: 10px;color: #000000;}
.Calibri10blackbold {font-family: Calibri;font-size: 10px;font-weight: bold;color: #000000;}
.Calibri11black {font-family: Calibri;font-size: 11px;color: #000000;}
.Calibri11blackbold {font-family: Calibri;font-size: 11px;font-weight: bold;color: #000000;}
.Calibri12black {font-family: Calibri;font-size: 12px;color: #000000;}
.Calibri12blackbold {font-family: Calibri;font-size: 12px;font-weight: bold;color: #000000;}
.Calibri13black {font-family: Calibri;font-size: 13px;color: #000000;}
.Calibri13blackbold {font-family: Calibri;font-size: 13px;font-weight: bold;color: #000000;}
.Calibri14black {font-family: Calibri;font-size: 14px;color: #000000;}
.Calibri14blackbold {font-family: Calibri;font-size: 14px;font-weight: bold;color: #000000;}
.Calibri15black {font-family: Calibri;font-size: 15px;color: #000000;}
.Calibri15blackbold {font-family: Calibri;font-size: 15px;font-weight: bold;color: #000000;}
.Calibri16black {font-family: Calibri;font-size: 16px;color: #000000;}
.Calibri16blackbold {font-family: Calibri;font-size: 16px;font-weight: bold;color: #000000;}


.arialblack14black {font-family: "Arial Black";font-size: 14px;color: #000000;}
.arialblack14blackbold {font-family: "Arial Black";font-size: 14px;font-weight: bold;color: #000000;}
.arialblack16black {font-family: "Arial Black";font-size: 16px;color: #000000;}
.arialblack16blackbold {font-family: "Arial Black";font-size: 16px;font-weight: bold;color: #000000;}
.arialblack18black {font-family: "Arial Black";font-size: 18px;color: #000000;}
.arialblack18blackbold {font-family: "Arial Black";font-size: 18px;font-weight: bold;color: #000000;}
.arialblack19black {font-family: "Arial Black";font-size: 19px;color: #000000;}
.arialblack19blackbold {font-family: "Arial Black";font-size: 19px;font-weight: bold;color: #000000;}


.Tahoma07black {font-family: Tahoma;font-size: 7px;color: #000000;}
.Tahoma07blackbold {font-family: Tahoma;font-size: 7px;font-weight: bold;color: #000000;}
.Tahoma08black {font-family: Tahoma;font-size: 8px;color: #000000;}
.Tahoma08blackbold {font-family: Tahoma;font-size: 8px;font-weight: bold;color: #000000;}
.Tahoma09black {font-family: Tahoma;font-size: 9px;color: #000000;}
.Tahoma09blackbold {font-family: Tahoma;font-size: 9px;font-weight: bold;color: #000000;}
.Tahoma10black {font-family: Tahoma;font-size: 10px;color: #000000;}
.Tahoma10blackbold {font-family: Tahoma;font-size: 10px;font-weight: bold;color: #000000;}
.Tahoma11black {font-family: Tahoma;font-size: 11px;color: #000000;}
.Tahoma11blackbold {font-family: Tahoma;font-size: 11px;font-weight: bold;color: #000000;}
.Tahoma12black {font-family: Tahoma;font-size: 12px;color: #000000;}
.Tahoma12blackbold {font-family: Tahoma;font-size: 12px;font-weight: bold;color: #000000;}
.Tahoma13black {font-family: Tahoma;font-size: 13px;color: #000000;}
.Tahoma13blackbold {font-family: Tahoma;font-size: 13px;font-weight: bold;color: #000000;}
.Tahoma14black {font-family: Tahoma;font-size: 14px;color: #000000;}
.Tahoma14blackbold {font-family: Tahoma;font-size: 14px;font-weight: bold;color: #000000;}
.Tahoma15black {font-family: Tahoma;font-size: 15px;color: #000000;}
.Tahoma15blackbold {font-family: Tahoma;font-size: 15px;font-weight: bold;color: #000000;}
.Tahoma16black {font-family: Tahoma;font-size: 16px;color: #000000;}
.Tahoma16blackbold {font-family: Tahoma;font-size: 16px;font-weight: bold;color: #000000;}
.Tahoma19black {font-family: Tahoma;font-size: 19px;color: #000000;}
.Tahoma19blackbold {font-family: Tahoma;font-size: 19px;font-weight: bold;color: #000000;}


.arial08black {font-family: Arial;font-size: 8px;color: #000000;}
.arial08blackbold {font-family: Arial;font-size: 8px;font-weight: bold;color: #000000;}
.arial09black {font-family: Arial;font-size: 9px;color: #000000;}
.arial09blackbold {font-family: Arial;font-size: 9px;font-weight: bold;color: #000000;}
.arial10black {font-family: Arial;font-size: 10px;color: #000000;}
.arial10blackbold {font-family: Arial;font-size: 10px;font-weight: bold;color: #000000;}
.arial11black {font-family: Arial;font-size: 11px;color: #000000;}
.arial11blackbold {font-family: Arial;font-size: 11px;font-weight: bold;color: #000000;}
.arial12black {font-family: Arial;font-size: 12px;color: #000000;}
.arial12blackbold {font-family: Arial;font-size: 12px;font-weight: bold;color: #000000;}
.arial13black {font-family: Arial;font-size: 13px;color: #000000;}
.arial13blackbold {font-family: Arial;font-size: 13px;font-weight: bold;color: #000000;}
.arial14black {font-family: Arial;font-size: 14px;color: #000000;}
.arial14blackbold {font-family: Arial;font-size: 14px;font-weight: bold;color: #000000;}
.arial15black {font-family: Arial;font-size: 15px;color: #000000;}
.arial15blackbold {font-family: Arial;font-size: 15px;font-weight: bold;color: #000000;}
.arial16black {font-family: Arial;font-size: 16px;color: #000000;}
.arial16blackbold {font-family: Arial;font-size: 16px;font-weight: bold;color: #000000;}
.arial17black {font-family: Arial;font-size: 17px;color: #000000;}
.arial17blackbold {font-family: Arial;font-size: 17px;font-weight: bold;color: #000000;}
.arial18black {font-family: Arial;font-size: 18px;color: #000000;}
.arial18blackbold {font-family: Arial;font-size: 18px;font-weight: bold;color: #000000;}


.arial07white {font-family: Arial;font-size: 7px;color: #FFFFFF;}
.arial07whitebold {font-family: Arial;font-size: 7px;font-weight: bold;color: #FFFFFF;}
.arial08white {font-family: Arial;font-size: 8px;color: #FFFFFF;}
.arial08whitebold {font-family: Arial;font-size: 8px;font-weight: bold;color: #FFFFFF;}
.arial09white {font-family: Arial;font-size: 9px;color: #FFFFFF;}
.arial09whitebold {font-family: Arial;font-size: 9px;font-weight: bold;color: #FFFFFF;}
.arial10white {font-family: Arial;font-size: 10px;color: #FFFFFF;}
.arial10whitebold {font-family: Arial;font-size: 10px;font-weight: bold;color: #FFFFFF;}
.arial11white {font-family: Arial;font-size: 11px;color: #FFFFFF;}
.arial11whitebold {font-family: Arial;font-size: 11px;font-weight: bold;color: #FFFFFF;}
.arial12white {font-family: Arial;font-size: 12px;color: #FFFFFF;}
.arial12whitebold {font-family: Arial;font-size: 12px;font-weight: bold;color: #FFFFFF;}
.arial13white {font-family: Arial;font-size: 13px;color: #FFFFFF;}
.arial13whitebold {font-family: Arial;font-size: 13px;font-weight: bold;color: #FFFFFF;}
.arial14white {font-family: Arial;font-size: 14px;color: #FFFFFF;}
.arial14whitebold {font-family: Arial;font-size: 14px;font-weight: bold;color: #FFFFFF;}
.arial16white {font-family: Arial;font-size: 16px;color: #FFFFFF;}
.arial16whitebold {font-family: Arial;font-size: 16px;font-weight: bold;color: #FFFFFF;}
.arial18white {font-family: Arial;font-size: 18px;color: #FFFFFF;}
.arial18whitebold {font-family: Arial;font-size: 18px;font-weight: bold;color: #FFFFFF;}


.arial10red {font-family: Arial;font-size: 10px;color: #FF0000;}
.arial10redbold {font-family: Arial;font-size: 10px;font-weight: bold;color: #FF0000;}
.arial11red {font-family: Arial;font-size: 11px;color: #FF0000;}
.arial11redbold {font-family: Arial;font-size: 11px;font-weight: bold;color: #FF0000;}
.arial12red {font-family: Arial;font-size: 12px;color: #FF0000;}
.arial12redbold {font-family: Arial;font-size: 12px;font-weight: bold;color: #FF0000;}
.arial13red {font-family: Arial;font-size: 13px;color: #FF0000;}
.arial13redbold {font-family: Arial;font-size: 13px;font-weight: bold;color: #FF0000;}
.arial14red {font-family: Arial;font-size: 14px;color: #FF0000;}
.arial14redbold {font-family: Arial;font-size: 14px;font-weight: bold;color: #FF0000;}
.arial15red {font-family: Arial;font-size: 15px;color: #FF0000;}
.arial15redbold {font-family: Arial;font-size: 15px;font-weight: bold;color: #FF0000;}
.arial16red {font-family: Arial;font-size: 16px;color: #FF0000;}
.arial16redbold {font-family: Arial;font-size: 16px;font-weight: bold;color: #FF0000;}
.arial18red {font-family: Arial;font-size: 18px;color: #FF0000;}
.arial18redbold {font-family: Arial;font-size: 18px;font-weight: bold;color: #FF0000;}
.arial24red {font-family: Arial;font-size: 24px;color: #FF0000;}
.arial24redbold {font-family: Arial;font-size: 24px;font-weight: bold;color: #FF0000;}


.arial14darkred {font-family: Arial;font-size: 14px;color: #8B0000;}
.arial14darkredbold {font-family: Arial;font-size: 14px;font-weight: bold;color: #8B0000;}


.arial10blue {font-family: Arial;font-size: 10px;color: #0066FF;}
.arial10bluebold {font-family: Arial;font-size: 10px;font-weight: bold;color: #0066FF;}
.arial11blue {font-family: Arial;font-size: 11px;color: #0066FF;}
.arial11bluebold {font-family: Arial;font-size: 11px;font-weight: bold;color: #0066FF;}
.arial12blue {font-family: Arial;font-size: 12px;color: #0066FF;}
.arial12bluebold {font-family: Arial;font-size: 12px;font-weight: bold;color: #0066FF;}
.arial13blue {font-family: Arial;font-size: 13px;color: #0066FF;}
.arial13bluebold {font-family: Arial;font-size: 13px;font-weight: bold;color: #0066FF;}
.arial14blue {font-family: Arial;font-size: 14px;color: #0066FF;}
.arial14bluebold {font-family: Arial;font-size: 14px;font-weight: bold;color: #0066FF;}
.arial16blue {font-family: Arial;font-size: 16px;color: #0066FF;}
.arial16bluebold {font-family: Arial;font-size: 16px;font-weight: bold;color: #0066FF;}


.arial14green {font-family: Arial;font-size: 14px;color: #2FC200;}
.arial14greenbold {font-family: Arial;font-size: 14px;font-weight: bold;color: #2FC200;}
.arial16green {font-family: Arial;font-size: 16px;color: #2FC200;}
.arial16greenbold {font-family: Arial;font-size: 16px;font-weight: bold;color: #2FC200;}


.arial12yellow {font-family: Arial;font-size: 12px;color: #FFFF00;}
.arial12yellowbold {font-family: Arial;font-size: 12px;font-weight: bold;color: #FFFF00;}


.arial14darkred {font-family: Arial;font-size: 14px;color: #830077;}
.arial14darkredbold {font-family: Arial;font-size: 14px;font-weight: bold;color: #830077;}


.arial14verydarkred {font-family: Arial;font-size: 14px;color: #8B0000;}
.arial14verydarkredbold {font-family: Arial;font-size: 14px;font-weight: bold;color: #8B0000;}


.arial14brown {font-family: Arial;font-size: 14px;color: #4F2626;}
.arial14brownbold {font-family: Arial;font-size: 14px;font-weight: bold;color: #4F2626;}


.couriernew10black {font-family: "Courier New";font-size: 10px;color: #000000;}
.couriernew10blackbold {font-family: "Courier New";font-weight: bold;font-size: 10px;color: #000000;}
.couriernew11black {font-family: "Courier New";font-size: 11px;color: #000000;}
.couriernew11blackbold {font-family: "Courier New";font-weight: bold;font-size: 11px;color: #000000;}
.couriernew12black {font-family: "Courier New";font-size: 12px;color: #000000;}
.couriernew12blackbold {font-family: "Courier New";font-weight: bold;font-size: 12px;color: #000000;}
.couriernew13black {font-family: "Courier New";font-size: 13px;color: #000000;}
.couriernew13blackbold {font-family: "Courier New";font-weight: bold;font-size: 13px;color: #000000;}
.couriernew14black {font-family: "Courier New";font-size: 14px;color: #000000;}
.couriernew14blackbold {font-family: "Courier New";font-weight: bold;font-size: 14px;color: #000000;}


.couriernew10red {font-family: "Courier New";font-size: 10px;color: #FF0000;}
.couriernew10redbold {font-family: "Courier New";font-weight: bold;font-size: 10px;color: #FF0000;}
.couriernew11red {font-family: "Courier New";font-size: 11px;color: #FF0000;}
.couriernew11redbold {font-family: "Courier New";font-weight: bold;font-size: 11px;color: #FF0000;}
.couriernew12red {font-family: "Courier New";font-size: 12px;color: #FF0000;}
.couriernew12redbold {font-family: "Courier New";font-weight: bold;font-size: 12px;color: #FF0000;}
.couriernew13red {font-family: "Courier New";font-size: 13px;color: #FF0000;}
.couriernew13redbold {font-family: "Courier New";font-weight: bold;font-size: 13px;color: #FF0000;}


.centered {position: fixed;top: 50%;left: 50%;margin-top: -65px;margin-left: -150px;}


.centeredleft {position: fixed;top: 50%;margin-top: -65px;}
